body {
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: black;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: white
}
button {
    background-color: white;
    border: 0.1em solid black;
    color: black;
    border-radius: 0.1em;
    font-size: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
button:hover{
    background-color: lightgray;
}
p.section{
    font-size: .6em; 
    color:lightgray
}

div.navbar{
    border-bottom: 0.1em solid white;
}
.icon{
    max-height: 1.5em; 
    width: auto;
}
span.title{
    font-size: 2.5em; 
    margin-left: 30%; 
    margin-right: 30%;
}
div.topics {
    margin-top: 2%;
}
a.topic{
    margin-left: 2%;
    margin-right: 2%;
    color:white;
    text-decoration: none;
}
a.topic:hover{
    color: gray;
}
div.main{
    background: url("background.jpg"); 
    width: 90%; 
    text-align: left; 
    padding-left: 10%; 
    padding-bottom: 2%; 
    padding-top: 2%;
}

div.highlighted{
    border-top: .05em white dotted; 
    overflow: auto;
}
div.tile{
    background-color: white;
    color: black;
}
div.horizontalTile{
    width: 100%; 
    display: table;
    margin-top: 1%; 
    margin-bottom: 1%;
}
div.column{
    float: left;
}

div.footer {
    border-top: 0.1em solid white;
    padding-top: 1%;
}
a.footer {
    margin-left: 5%;
    margin-right: 5%;
    color:white;
    text-decoration: none;
}
a.footer:hover{
    color: gray;
}